node_modules
dist
.env
.chrome-profile
.chrome-pid
*.log
*.tsbuildinfo

# Midscene.js dump files
midscene_run


# Midscene.js dump files
midscene_run/dump
midscene_run/report
midscene_run/tmp
midscene_run/log
